<!--(ngSubmit): handles the form submit event-->
<!--[formGroup]="": necessary to form input validation mapping-->
<!-- #formDir="ngForm": tells to angular that that form element is a form, and we use this directive to trigger the form 
validation -->

<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
    <div class="form-group">
        <label for="title">Título:</label>
        <input type="text" placeholder="Coloque o título" formControlName="title" required />
        <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="title.errors?.['required']"> O título é obrigatório</p>
        </div>
    </div>

    <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea placeholder="Diga o que aconteceu lá!" formControlName="description" required></textarea>
        <div *ngIf="description.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="description.errors?.['required']"> A descrição é obrigatória</p>
        </div>
    </div>

    <div class="form-group">
        <label for="image">Coloque a foto que mais marcou:</label>
        <input type="file" />
    </div>

    <input type="submit" value="{{ btnText }}" />
</form>